body {
  background-color: #1c1c1f;
}

.header {
  background-color: rgb(39, 39, 39);
}

.header__link-logo {
  color: rgb(255, 255, 255);
}

.header__link {
  color: rgb(209, 209, 209);
}

.header__theme {
  background-color: rgb(160, 160, 160);
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}

.header__btn {
  background-color: rgb(133, 133, 133);
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}
.header__btn .header__link-btn {
  color: rgb(255, 255, 255);
}
.header__btn:hover {
  background-color: #4d4d4d;
}

.search__container {
  background-color: rgb(53, 52, 52);
}

.search__title span {
  color: white;
}

.choose__container {
  background-color: rgb(53, 52, 52);
}

.choose__title {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.choose__item {
  background-color: rgb(255, 255, 255);
  border: 5px solid rgba(150, 150, 150, 0.979);
}

.slider__btn button {
  background-color: #3d3d3d;
  color: white;
}

.choose__control-prev, .choose__control-next {
  background-color: rgb(95, 95, 95);
  color: rgb(255, 255, 255);
}
.choose__control-prev:hover, .choose__control-next:hover {
  background-color: #a3a3a3;
}

.decoding__container {
  background-color: rgb(53, 52, 52);
}

.decoding__discription {
  background-color: rgb(255, 255, 255);
}

.decoding__title-counter {
  background-color: rgb(255, 255, 255);
}

.decoding__counter {
  background-color: rgb(255, 255, 255);
}

.decoding__form-wrapper label {
  background-color: white;
}
.decoding__form-wrapper span {
  background-color: white;
}

.warning {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(139, 0, 0);
  color: rgb(192, 0, 0);
}

.normal {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(0, 139, 0);
}

.notNormal {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(255, 0, 0);
}

.normal1 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(0, 139, 0);
}

.notNormal1 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(255, 0, 0);
}

.normal2 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(0, 139, 0);
}

.notNormal2 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(255, 0, 0);
}

.normal3 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(0, 139, 0);
}

.notNormal3 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(255, 0, 0);
}

.normal4 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(0, 139, 0);
}

.notNormal4 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(255, 0, 0);
}

.normal5 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(0, 139, 0);
}

.notNormal5 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(255, 0, 0);
}

.normal6 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(0, 139, 0);
}

.notNormal6 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(255, 0, 0);
}

.normal7 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(0, 139, 0);
}

.notNormal7 {
  background-color: rgb(190, 190, 190);
  border: 3px solid rgb(255, 0, 0);
}

.decoding__form-agree span {
  background-color: rgb(255, 255, 255);
}

.decoding__submit {
  color: rgb(255, 255, 255);
  background-color: rgb(95, 95, 95);
}
.decoding__submit:hover {
  background-color: #a3a3a3;
}

.about__container {
  background-color: rgb(53, 52, 52);
}

.about__title {
  background-color: white;
}

.about__subtitle {
  background-color: white;
}

.about__number {
  background-color: white;
}

.about__number-subtitle {
  background-color: white;
  color: rgb(149, 149, 149);
}

.about__benefits-title {
  background-color: white;
}

.about__benefits-text {
  background-color: white;
}

.about__benefits-list {
  background-color: white;
}

.reviews__container {
  background-color: rgb(53, 52, 52);
}

.reviews__title {
  color: rgb(48, 48, 48);
  background-color: rgb(255, 255, 255);
}

.reviews__item {
  background-color: rgb(255, 255, 255);
  border: 5px solid rgba(150, 150, 150, 0.979);
}

.reviews__date {
  color: rgb(41, 41, 41);
}

.reviews__control-prev, .reviews__control-next {
  background-color: rgb(95, 95, 95);
  color: rgb(255, 255, 255);
}
.reviews__control-prev:hover, .reviews__control-next:hover {
  background-color: #a3a3a3;
}

.brands__container {
  background-color: rgb(53, 52, 52);
}

.brands__title {
  background-color: white;
}

.brands__list {
  background-color: white;
}

.brands__item:hover {
  background-color: #9e9e9e;
}

.footer {
  background-color: rgb(39, 39, 39);
}

.footer__title {
  color: white;
}

.footer__about .footer__item .footer__link {
  color: white;
}
.footer__about .footer__item .footer__link:hover {
  color: rgb(126, 126, 126);
}

.footer__text {
  color: white;
}

.reg__popup {
  background-color: rgba(35, 35, 39, 0.911);
}

.reg__container {
  background-color: rgb(60, 60, 63);
}

.button {
  background-color: rgb(255, 255, 255);
}
.button:hover {
  background-color: #a3a3a3;
}

.reg__title-1 {
  background-color: rgb(255, 255, 255);
}

.reg__form-f input {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 800px) {
  .header__burger .br1, .header__burger .br2, .header__burger .br3 {
    background-color: rgb(160, 160, 160);
  }

  .popup {
    background-color: rgba(29, 29, 32, 0.699);
  }
}
@media (max-width: 565px) {
  .reviews__item {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(150, 150, 150, 0.979);
  }

  .reviews__date {
    color: rgb(41, 41, 41);
  }

  .reviews__control-prev, .reviews__control-next {
    background-color: rgb(95, 95, 95);
    color: rgb(255, 255, 255);
  }
  .reviews__control-prev:hover, .reviews__control-next:hover {
    background-color: #a3a3a3;
  }
}
@media (max-width: 445px) {
  .choose__item {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(150, 150, 150, 0.979);
  }

  .slider__btn button {
    background-color: #3d3d3d;
    color: white;
  }

  .choose__control-prev, .choose__control-next {
    background-color: rgb(95, 95, 95);
    color: rgb(255, 255, 255);
  }
  .choose__control-prev:hover, .choose__control-next:hover {
    background-color: #a3a3a3;
  }
}
.change__theme[data-theme=dark] {
  display: none;
}

.change__theme[data-theme=light] {
  display: block;
}