*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
//---------------------------------------------------//
$main-font: 'Roboto', 'sant-serif';
$main-color: #00aacc;
//---------------------------------------------------//
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
//---------------------------------------------------//
.header {background-color: rgb(0, 166, 199);}
.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
  min-height: 115px;
  align-items: center;
}
.header__logo {}
.header__link-logo {
  text-decoration: none;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 7px;
  color: azure;
}
.header__link {
  text-decoration: none;
  font-family: $main-font;
  font-size: large;
  color: azure;
}
.header__nav {
  display: flex;
}
.header__theme {
  margin-right: 25px;
  border-radius: 20px;
  background-color: rgb(14, 194, 194);
  img {
    cursor: pointer;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.header__item {
  display: flex;
  align-items: center;
}
//---------------------------------------------------//
.search {}
.search__container {
  background-color: rgb(53, 213, 245);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}
.search__title {
  text-align: center;
  padding: 90px 0px 75px 0px;
  span {
    color: white;
    font-size: 35px;
    font-weight: 500;
    font-family: $main-font;
  }
}
.search__form {
  display: inline-flex;
  justify-content: center;
  padding-bottom: 50px;
  .search__input {
    width: 800px;
    height: 50px;
    border: 0px;
    border-radius: 15px;
    font-family: $main-font;
    padding-left: 10px;
  }
}
//---------------------------------------------------//
.choose {
}
.choose__container {
  background-color: rgb(53, 213, 245);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}
.choose__title {
  font-family: $main-font;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 0px;
  text-align: center;
  margin: 30px 0px;
}
.choose__slider {
  max-width: 400px;
  height: 200px;
  margin: 0 auto;
}
.choose__items {
  width: 2800px;
  display: flex;
  gap: 15px;
  position: relative;
  left: 0px;
}
.choose__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.slider__title {
  font-family: $main-font;
  font-size: 15px;
  padding: 10px 20px 10px 10px;
}
.slider__stock-1, .slider__stock-2 {
  font-family: $main-font;
  font-size: 13px;
  padding: 0px 0px 7px 10px;
}
.slider__btn {
  padding: 0px 0px 10px 10px;
  button {
    background-color: #00aacc;
    color: white;
    font-family: $main-font;
    font-size: 15px;
    border: 0px;
    border-radius: 7px;
    padding: 3px 3px 3px 3px;
  }
}
.choose__btns {margin: 15px 0px;}
.choose__control-prev, .choose__control-next {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(2, 188, 225);
  font-family: $main-font;
  font-weight: 200;
  border: 0px;
  color: rgb(255, 255, 255);
  transition: all, linear, 0.3s;
  &:hover {
    background-color: #0098b6;
  }
}
//---------------------------------------------------//
.about__container {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
  background-color: rgb(53, 213, 245);
  border-radius: 25px;
}
.about__wrapper {
  margin: 70px 0px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.about__title {
  margin: 25px 0px 25px 0px;
  padding: 10px 0px 10px 0px;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  font-family: $main-font;
  font-weight: 400;
}
.about__subtitle {
  background-color: white;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
  padding: 5px 5px 5px 5px;
  font-family: $main-font;
  font-weight: 200;
}
.about__counter {
  display: flex;
  flex-direction: column;
}
.about__row-1 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.about__row-wrapper-1 {
  display: flex;
  flex-direction: column;
}
.about__number {
  padding: 15px 15px 15px 15px;
  margin: 15px 0px 15px 0px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  font-family: $main-font;
  font-weight: 200;
  font-size: 50px;
}
.about__number-subtitle {
  padding: 5px 10px 10px 10px;
  background-color: white;
  border-radius: 15px;
  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  color: rgb(149, 149, 149);
}
//---------------------------------------------------//
.about__benefits {margin: 0px 0px 25px 0px;}
.about__benefits-wrapper {
  display: flex;
  gap: 15px;
}
.about__benefits-title {
  margin: 25px 0px;
  padding: 7px 7px;
  background-color: white;
  border-radius: 15px;
  font-family: $main-font;
  font-weight: 400;
  text-align: center;
}
.about__benefits-row-1 {}
.about__benefits-text {
  padding: 5px 5px;
  background-color: white;
  border-radius: 15px;
  font-family: $main-font;
  font-weight: 400;
}
.about__benefits-list {
  background-color: white;
  border-radius: 15px;
  font-family: $main-font;
  font-weight: 200;
}
.about__benefits-ilem {
  padding: 10px 0px 0px 15px;
  margin: 5px 0px;
}
//---------------------------------------------------//
.reviews {}
.reviews__container {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
  background-color: rgb(53, 213, 245);
  border-radius: 25px;
}
.reviews__title {
  font-family: $main-font;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  color: rgb(48, 48, 48);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 0px;
  margin: 25px 0px;
}
.reviews__slider {
  max-width: 550px;
  overflow: hidden;
  margin: 0 auto;
}
.reviews__items {
  display: flex;
  gap: 10px;
  width: 3300px;
  position: relative;
  left: 0px;
  transition: all, linear, 0.5s;
}
.reviews__item {
  width: 550px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 7px 7px;
}
.reviews__person {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}
.reviews__name {
  font-family: $main-font;
  font-weight: 500;
}
.reviews__date {
  font-family: $main-font;
  font-weight: 200;
  color: rgb(41, 41, 41);
}
.reviews__text {
  font-family: $main-font;
  font-weight: 200;
}
.reviews__btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0px;
}
.reviews__control-prev, .reviews__control-next {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(2, 188, 225);
  font-family: $main-font;
  font-weight: 200;
  border: 0px;
  color: rgb(255, 255, 255);
  transition: all, linear, 0.3s;
  &:hover {
    background-color: #0098b6;
  }
}
//---------------------------------------------------//
.brands {
}
.brands__container {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  min-height: 300px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
  background-color: rgb(53, 213, 245);
  border-radius: 25px;
}
.brands__title {
  text-align: center;
  background-color: white;
  border-radius: 25px;
  font-family: $main-font;
  font-weight: 200;
  font-size: 30px;
  padding: 5px 5px;
  margin: 45px 0px;
}
.brands__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;
  border-radius: 20px;
}
.brands__item {
  padding: 30px 5px;
  &:hover {
    background-color: #0098b6;
    border-radius: 45px;
    transition: all, linear, 0.3s;
  }
}
//---------------------------------------------------//
.footer {background-color: rgb(53, 213, 245);}
.footer__container {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  min-height: 300px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}
.footer__title {
  margin: 25px 0px;
  font-family: $main-font;
  font-weight: 100;
  font-size: 14px;
  color: white;
}
.footer__about {
  display: flex;
  justify-content: space-between;
  .footer__item {
    .footer__link {
      text-decoration: none;
      font-family: $main-font;
      font-weight: 200;
      color: white;
      transition: all, linear, 0.3s;
      &:hover {
        color: rgb(0, 16, 138);
      }
    }
  }
}
.footer__text {
  margin: 25px 0px;
  font-family: $main-font;
  font-weight: 100;
  font-size: 14px;
  color: white;
}
.footer__img {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 0px 25px 0px;
}
//---------------------------------------------------//
@media (max-width: 1400px) {
  /* Стили для устройств, у которых ширина viewport меньше или равно 1400 пикселей, но больше 990 пикселей. Эти стили будут использованы для планшетов и ноутбуков с низким разрешением */
}

@media (max-width: 990px) {
  /* Стили для устройств, у которых ширина viewport меньше или равно 990 пикселей, но больше 770 пикселей. Эти стили подойдут для некоторых мобильных устройств и планшетов */
}

@media (max-width: 770px) {
  /* Стили для устройств, у которых ширина viewport меньше или равно 770 пикселей. Это множество мобильных устройств */
}